<section class="todoapp">
    <header class="header">
        <h1>todos</h1>
        <form id="new-form">
            <input type="text" class="new-todo" placeholder="What do we need to do today?" />
        </form>
    </header>

    <section class="main">
        <ul class="todo-list">

        </ul>
    </section>
</section>
<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Ileana Argyris", "https://argyrisileana.com/" %>
</section>

<%= javascript_pack_tag 'tasks' %>