<section class="todoapp">
    <header class="header">
        <h1>todos</h1>
    </header>

    <section class="main">
        <ul class="todo-list">

        </ul>
    </section>
</section>

<script>
    document.addEventListener('DOMContentLoaded', e => {
        let htmlString = '';

        fetch('./tasks')
        .then(resp => resp.json())
        .then(data => {
            data.forEach(task => {
                let checkedStatus = task.done ? "checked" : "";
                let ele = `<li><div class="view"><input class="toggle" type="checkbox" ${checkedStatus}><label>${task.title}</label></div></li>`
                htmlString += ele;
            });
            console.log(htmlString);
            let ulTodo = document.getElementsByClassName('todo-list')[0];
            ulTodo.innerHTML = htmlString;
        })
        .catch(err => console.log('Fetch error', err))

        

    })
</script>